<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login or Register</title>
        <link rel="stylesheet" href="~/css/User/LoginOrRegister.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <header class="header">
            <h1 class="title">Todo List</h1>
        </header>
        <div class="body">
            <div class="register">
                <partial name="_Register"></partial>
            </div>
            <div class="login">
                <partial name="_Login"></partial>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>